@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100vw;
    background-color: #33b6ff;
    padding: 0px 50px;
}

nav h1 {
    color: white;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    color:whitesmoke;
    font-weight: bold;
}

header {
    height: 100vh;
    width: 100vw;
    background-color: #33b6ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-titulo {
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bolder;
    color: whitesmoke;
}