@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: whitesmoke;
}

div.container {
    background-color: aqua;
    height: 100vh;
}

#div1 {
    background-image: linear-gradient(to right, rgb(224, 150, 11), rgb(216, 216, 20));
    font-family: sans-serif;
    text-align: center;
}

#div1 h1 {
    font-size: 75px;
    padding: 170px 0px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
    font-family:Arial, Helvetica, sans-serif;
}

#div1 p {
    margin-top: -115px;
    text-align: center;
    line-height: 2em;
    color: whitesmoke;
    font-size: 25px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
}

#div2 {
    background-image: url(imagens/comidas.webp);
    background-attachment: fixed;
    background-size: cover;
}

#div3 {
    background-image: linear-gradient(to right, rgb(192, 192, 20), orange);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    height: 1050px;
}

#div3 img {
    height: 350px;
    width: 550px;
    margin-left: 400px;
    margin-top: 80px;
    border-radius: 10px;
}

#div3 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
    padding-top: 30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.548);
}

#div3 p {
    padding: 25px;
    margin-top: 50px;
    text-align: center;
    line-height: 2em;
    font-size: 25px;
}

footer {
    background-color: rgb(20, 19, 19);
    padding: 20px;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

footer a:hover {
    color: rgb(235, 162, 27);
}