@charset "UTF-8";

* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: rgb(22, 19, 168);
    height: 80px;
}

nav img {
    height: 60px;
    width: 60px;
    margin: 5px 20px;
}

.menu {
    margin-left: 560px;
    margin-top: -45px;
}

.menu a {
    padding: 50px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
}

.menu a:hover {
    color: rgb(57, 164, 235);
}

.center {
    height: 100vh;
    background-image: url(imagens/pexels-emiliano-arano-1350197.jpg);
    background-size: cover;
    text-align: center;
    line-height: 3em;
    font-size: 30px;
}

.center h1 {
    padding-top: 200px;
    font-family: sans-serif;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
}

button {
    border: 10px solid rgb(88, 95, 196);
    border-radius: 100px;
    background-color: rgb(88, 95, 196);
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: cyan;
    border: 10px solid cyan;
}

.div1 {
    height: 100vh;
    background-image: linear-gradient(to right, rgb(60, 60, 197), cyan);
}

.bola {
    position: absolute;
    background-color: rgb(12, 23, 187);
    border-radius: 50%;
    height: 550px;
    width: 550px;
    margin-left: 400px;
    margin-top: 50px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.349);
}

.galao img {
    position: absolute;
    height: 500px;
    width: 500px;
    margin-left: 435px;
    margin-top: 70px;
}

footer {
    background-color: black;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    font-family: sans-serif;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
    font-family: sans-serif;
}

footer a:hover {
    color: darkblue;
}